$main-color = #BB0C0C
$window-color = #161616
$window-color-darktheme = #161616
$top-navigation-color = #0C0C0C
$top-navigation-color-darktheme = #0C0C0C
$text-color = #F2F4F8
$text-color-darktheme = #F2F4F8
$inactive-link-color = #6E6F70
$inactive-link-color-darktheme = #6E6F70
$line-color = #2A2A2A
$active-tab-background-color = $main-color
$focused-tab-background-color = rgba(255, 255, 255, 0.05)
$active-tab-background-color-darktheme = $main-color
$focused-tab-background-color-darktheme = rgba(255, 255, 255, 0.05)
$message-info-border-color = #25BE6A
$message-info-background-color = #161616
$message-info-border-color-darktheme = #25BE6A
$message-info-background-color-darktheme = #161616
$message-error-border-color = #BB0C0C
$message-error-background-color = #610000
$message-success-border-color = #25BE6A
$message-success-background-color = #00421e
$input-bad-border-color = #BB0C0C
$input-bad-background-color = #610000
$input-good-border-color = #25BE6A
$input-good-background-color = #00421e
$input-enabled-background-color = #2A2A2A
$input-enabled-border-color = #4B1F1F
$input-enabled-text-color = $text-color
$input-enabled-text-color-darktheme = $text-color-darktheme
$input-disabled-background-color = #2A2A2A
$input-disabled-border-color = #535353
$input-disabled-text-color = #888
$button-enabled-text-color = #FFFFFF
$button-enabled-background-color = $main-color
$button-disabled-text-color = #666
$button-disabled-background-color = #444
$post-thumbnail-border-color = $main-color
$post-thumbnail-no-tags-border-color = #BB0C0C
$default-tag-category-background-color = $active-tab-background-color
$new-tag-background-color = #FFB86C
$new-tag-text-color = #0C0C0C
$implied-tag-background-color = #FF79C6
$implied-tag-text-color = #0C0C0C
$tag-suggestions-header-color = #F2F4F8
$tag-suggestions-border-color = #4B1F1F
$duplicate-tag-background-color = #FF79C6
$duplicate-tag-text-color = #0C0C0C
$active-note-overlay-background-color = rgba(255, 255, 255, 0.1)
$active-note-overlay-border-color = rgba(80, 189, 217, 0.8)
$note-background-color = rgba(255, 255, 205, 0.1)
$note-border-color = rgba(0, 0, 0, 0.2)
$edited-note-background-color = rgba(222, 255, 222, 0.1)
$edited-note-border-color = rgba(80, 250, 123, 0.9)
$note-text-background-color = #F2F4F8
$note-text-border-color = #000000
$note-text-text-color = #000000
$first-note-point-color = #BB0C0C
$hovered-note-point-color = #FF79C6
$hovered-first-note-point-color = #FF79C6
$safety-safe = #25BE6A
$safety-sketchy = #F3D75F
$safety-unsafe = #BB0C0C
$scrollbar-thumb-color = $main-color
$scrollbar-bg-color = $input-enabled-background-color
$transparency-grid-square-color = #F0F0F0
